:root {
    --primary-color: #87ceeb;
    --secondary-color: #e6e6fa;
    --tertiary-color: #ffdab9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

header {
    background-image: url(/assets/images/bryson.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    background-color: #87ceeb;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bolder;
    font-size: 45px;
    color:var(--tertiary-color);
    margin: 0;
    text-shadow: rgba(0, 0, 0, .75);
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, .75);
}

.section-title {
    font-size: 48px;
    color: var(--primary-color);
    text-align: left;
    padding-right: 20px;
    border-right: 3px solid var(--primary-color);
    margin: auto 35px auto 0;
}

.bio {
    display: flex;
    background-image: url(/assets/images/bryson.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

.projects {
    display: flex;
}

.projects img {
    align-items:flex-end;
    justify-content: space-between;
    width: 500px;
    height: 200px;
    border: 2px solid var(--secondary-color);
}

.contact {
    display: flex;
}