:root {
    --primary-color: #87ceeb;
    --secondary-color: #e6e6fa;
    --tertiary-color: #ffdab9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

header {
    background-image: url(/assets/images/bryson.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    background-color: #87ceeb;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

header h1 {
    font-weight: bolder;
    font-size: 45px;
    color:var(--tertiary-color);
    margin: 0;
    text-shadow: rgba(0, 0, 0, .75);
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, .75);
}

.work-section {
    display: flex;
    background-image: url(/assets/images/bryson.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    text-align: center;
}

.section-title {
    font-size: 48px;
    color: var(--primary-color);
    text-align: left;
    padding-right: 20px;
    border-right: 3px solid var(--primary-color);
    margin: auto 0 auto 0;
}

.bio {
    display: flex;
    background-image: url(/assets/images/bryson.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}


.margin-top {
    margin-top: 50px;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    column-gap: 20px;
    align-items:center;
    margin-bottom: 60px;
    background-image: url(/assets/images/bryson.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

.project {
    flex: 0 0 20%;
}

.main-project {
    flex: 0 0 80%;
    flex-grow: 4;
}


.my-work img {
    align-items:flex-end;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    border: 2px solid var(--secondary-color);
}

.contact {
    display: flex;
    flex: 0 0 30%;
    background-image: url(/assets/images/bryson.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

.contact nav {
    margin: 7px 0;
}

.contact nav ul {
    display: flex;
    flex: 0 0 70%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.contact nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: rgba(0, 0, 0, .75);
    color: var(--primary-color);
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .contact nav ul li a {
        padding: 10px 15px;
        font-weight: lighter;
        font-size: 1.95vw;
        text-shadow: rgba(0, 0, 0, .75);
        color: var(--primary-color);
    }
}

@media screen and (max-width: 575px) {
    .contact nav ul li a {
        padding: 10px 15px;
        font-weight: lighter;
        font-size: 2.8vw;
        text-shadow: rgba(0, 0, 0, .75);
        color: var(--primary-color);
    }
}